<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Bill List</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

	<div class="d-flex">
		<!-- Sidebar -->
		<div th:replace="~{fragments/header :: navbar}"></div>

		<!-- Main Content -->
		<div class="flex-grow-1 p-4">
			<div class="d-flex justify-content-between align-items-center">
				<h1 class="mb-4 text-primary">Bill List</h1>

				<a th:href="@{/bill/add}" class="btn btn-success mb-3">+ Add New
					Bill</a>
			</div>

			<div class="table-wrapper">
				<table class="table table-bordered table-striped">
					<thead class="table-dark">
						<tr>
							<th>ID</th>
							<th>Patient</th>
							<th>Total Amount</th>
							<th>Paid Amount</th>
							<th>Remaining Amount</th>
							<th>Status</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="bill : ${bills}">
							<td th:text="${bill.id}"></td>
							<td th:text="${bill.patient.name}"></td>
							<td th:text="'Rs ' + ${bill.totalAmount}"></td>
							<td th:text="'Rs ' + ${bill.paidAmount}"></td>
							<td th:text="'Rs ' + ${bill.remainingAmount}"></td>
							<td
								th:text="${bill.status} ? 'Bill Cleared !' : 'Bill not cleared !'"
								th:classappend="${bill.status} ? 'text-success' : 'text-danger'"></td>
							<td class="d-flex gap-2"><a
								th:href="@{'/bill/edit/' + ${bill.id}}" class="btn btn-sm"
								th:classappend="${bill.status} ? 'disabled btn-secondary' : 'btn-primary'"
								th:attr="disabled=${bill.status} ? 'disabled' : null">Edit</a> <a
								th:href="@{'/bill/delete/' + ${bill.id}}" class="btn btn-sm"
								onclick="return confirm('Are you sure you want to delete this bill?')"
								th:classappend="${!bill.status} ? 'disabled btn-secondary' : 'btn-danger'"
								th:attr="disabled=${!bill.status} ? 'disabled' : null">Delete</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</body>
</html>
